{% extends 'base.html' %} {% block title %} Log in {% endblock %} {% block
content %}
<form method="POST" , action="{{ url_for('login') }}">
  {{form.hidden_tag()}} {% for field in form.errors %} {% for error in
  form.errors[field] %}
  <li>{{ error }}</li>
  {% endfor %} {% endfor %} {% for field in form if field.widget.input_type !=
  'hidden'%}
  <div class="form-group row justify-content-center">
    {{field.label(class="col-sm-1 col-form-label")}}
    <div class="col-sm-4">{{field(class="form-control")}}</div>
  </div>
  {% endfor %}
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-success col-sm-1">Submit</button>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <p>Don't have an account? <a href="/register">Register now!</a></p>
    </div>
  </div>
</form>
{% endblock%}
