{% extends 'base.html' %} {% block title %} Add a feedback {% endblock %} {%
block content %}
<form method="POST">
  {{form.hidden_tag()}}{% for field in form if field.widget.input_type !=
  'hidden'%}
  <div class="row justify-content-center">
    <div class="col-sm-2">{{field.label}}</div>
    <div class="col-sm-3">{{field}}</div>
  </div>
  {% endfor %}
  <div class="row justify-content-center">
    <div class="col-sm-2">
  <button type="submit" class="submitBtn">Submit</button>
    </div>
    <div class="col-sm-2">
  <a href="/users/{{user.username}}">Cancel</a>
    </div>
</form>
{% endblock %}
